.card_collection {
    border-radius: 20px 20px 0 0;
    overflow: hidden;

    figure {
        height: 320px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;

        }


    }
}

.card_collection:hover {
    transform: scale(1.03);


}

.body_card_collection {
    @apply flex items-end justify-between px-2 py-5;

    .nbr_recipe {
        color: var(--primary);
        outline: 1px solid var(--primary);
        padding: 2px;
        border-radius: 5px;
    }
}